
 <!-- Website Font style -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        
        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
<div class="container main-login main-center">
    <h2 style="font-family:cursive;text-align: center">Add Category</h2>
   
    <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search">
    </div>
    <div class="form-group">
      
        <div class="row col-sm-9 category-padding">
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="newCategory" 
                placeholder="Enter new category">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-success plus-button value-control" (click)="addCategory()" 
                    [attr.disabled]="(newCategory == null || newCategory == '' || newCategory == ' ') ? '' : null">
                    <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <table class="table table-striped" ng-hide="users.length==0">
        <thead></thead>
        <tbody>
          <tr *ngFor="let category of categories | categoryfilter : searchText">
            <td>
              <input type="text" class="form-control" [(ngModel)]="category.categoryName" 
              [value]="category.categoryId" placeholder="Category" required="" 
              [attr.disabled]="!category.isEdit ? '' : null"/>
            </td>
            <td>
                <button *ngIf="!category.isEdit" class="btn btn-primary a-btn-slide-text" style="background-color:#852890" 
                (click)="editCategory(category)">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    <span ><strong>Edit</strong></span>            
                </button>
                <button *ngIf="category.isEdit" class="btn btn-primary a-btn-slide-text" style="background-color:green" 
                (click)="updateCategory(category)">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                        <span><strong>Save</strong></span>            
                </button>
                <button class="btn btn-primary a-btn-slide-text" style="background-color:red"(click)="deleteCategory(category.categoryId)">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <span><strong>Delete</strong></span>            
                </button>
            </td>
          </tr>
        </tbody>
    </table>
</div>